In [204]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.linear_model import (
    LinearRegression, Ridge, Lasso, ElasticNet, BayesianRidge, PassiveAggressiveRegressor
)
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from tqdm.auto import tqdm

df = pd.read_csv("/home/titansax/simulations/better_air_separation_data_2000.csv");

# Load columns

df.head()

,P_in (atm),T_in (°C),Flow Rate (kg/h),Energy Consumed (kWh),Efficiency,N2_out (%),O2_out (%),Ar_out (%)
0,7.927833,-192.505419,540.986585,532.644432,0.862150,99.843313,99.582190,95.151271
1,7.492813,-182.902356,511.454057,500.344703,0.840769,99.750000,99.422797,94.940490
2,5.064012,-196.957927,479.519522,482.689156,0.856736,99.834060,99.572726,95.008946
3,7.921598,-192.678923,546.578832,538.505973,0.862466,99.847870,99.600000,95.188169
4,7.098203,-196.953597,514.703653,510.917058,0.866898,99.909716,99.600000,95.167142

In [205]:
# Colum names array

df.columns

Index(['P_in (atm)', 'T_in (°C)', 'Flow Rate (kg/h)', 'Energy Consumed (kWh)',
       'Efficiency', 'N2_out (%)', 'O2_out (%)', 'Ar_out (%)'],
      dtype='object')

In [206]:
# Check data types

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   P_in (atm)             2000 non-null   float64
 1   T_in (°C)              2000 non-null   float64
 2   Flow Rate (kg/h)       2000 non-null   float64
 3   Energy Consumed (kWh)  2000 non-null   float64
 4   Efficiency             2000 non-null   float64
 5   N2_out (%)             2000 non-null   float64
 6   O2_out (%)             2000 non-null   float64
 7   Ar_out (%)             2000 non-null   float64
dtypes: float64(8)
memory usage: 125.1 KB

In [207]:
    # Check null values
    
    df.isnull().sum()

P_in (atm)               0
T_in (°C)                0
Flow Rate (kg/h)         0
Energy Consumed (kWh)    0
Efficiency               0
N2_out (%)               0
O2_out (%)               0
Ar_out (%)               0
dtype: int64

In [208]:
# Check number of unique values

df.nunique()

P_in (atm)               2000
T_in (°C)                2000
Flow Rate (kg/h)         2000
Energy Consumed (kWh)    2000
Efficiency               2000
N2_out (%)               1512
O2_out (%)               1347
Ar_out (%)               2000
dtype: int64

In [209]:
# Eliminar filas con valores nulos
df = df.dropna()

# Verificar si hay valores atípicos
print(df.describe(percentiles=[0.01, 0.99]))

        P_in (atm)    T_in (°C)  Flow Rate (kg/h)  Energy Consumed (kWh)  \
count  2000.000000  2000.000000       2000.000000            2000.000000
mean      6.502714  -189.981542        499.914583             500.037136
std       0.861788     5.718078         19.786910              16.044703
min       5.000161  -199.995625        443.781703             456.475091
1%        5.030961  -199.854653        458.652615             465.643337
50%       6.537795  -189.968706        500.257496             500.334271
99%       7.971935  -180.192172        541.595155             533.012676
max       7.999508  -180.002020        553.384510             552.078284

        Efficiency   N2_out (%)   O2_out (%)   Ar_out (%)
count  2000.000000  2000.000000  2000.000000  2000.000000
mean      0.849977    99.808024    99.499884    94.999323
std       0.012179     0.052098     0.074152     0.127837
min       0.823347    99.750000    99.400000    94.634274
1%        0.825783    99.750000    99.400000    94.725049
50%       0.850346    99.802041    99.499380    95.002430
99%       0.873512    99.929095    99.600000    95.260280
max       0.876651    99.950000    99.600000    95.332345

In [210]:
import joblib
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

# Variables de entrada y salida
X = df[['P_in (atm)', 'T_in (°C)', 'Flow Rate (kg/h)', 'Energy Consumed (kWh)', 'Efficiency']]
Y = df[['N2_out (%)', 'O2_out (%)', 'Ar_out (%)']]

# División en entrenamiento y prueba
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

# Entrenar modelo
modelo_rf = RandomForestRegressor(n_estimators=100, random_state=42)
modelo_rf.fit(X_train, Y_train)

# Evaluar modelo
Y_pred = modelo_rf.predict(X_test)
score = r2_score(Y_test, Y_pred)
print(f"Random Forest Precisión R²: {score:.4f}")

# Exportar modelo
joblib.dump(modelo_rf, "random_forest_model.pkl")
print("Modelo Random Forest guardado como 'random_forest_model.pkl'")

Random Forest Precisión R²: 0.8694
Modelo Random Forest guardado como 'random_forest_model.pkl'